<h1>The Task</h1>
<hr />
<p>The application should consist of two parts:<br />
-Backend: RESTful API written in .NET Core<br />
-Frontend: SPA written in Angular 2<br /><br />

 You will be given a set of data, containing the list of Bookings made by an online Cruise company. The application should show the Bookings made in the first quarter of 2016.<br /><br />

The Frontend should query the API for the Bookings in the given range. Once it gets the data, it should present  a list of Sales Units, showing the name and the total price of their related Bookings. If the user clicks on any Sales Unit, the list of related Bookings should be shown, showing Booking Id, Ship Name and Price.<br /><br />

Optional: implement a Type-ahead search that will accept either Booking Ids or Ship Names. The implementation should query the backend for searching (no front end searching).<br /><br />

*All prices should show the correct Currency (which is stored in the Sales Unit). </p>
<hr />
<h2><a href="/bookings">Solution</a></h2>